body {
    font-family: 'Montserrat', sans-serif;
    background-color: lightgrey;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    
}

.boxes {
    display: block;
    width: 20%;
    margin: 0 auto;
    padding: 1px 1px 1px 1px;
    border: 2px solid black;
    border-radius: 2em;
}

a:hover {
    color: red;
    font-weight: bold;
}

span {
    font-weight: 700;
    color: yellow;
}

#box1 {
    background-color: darkseagreen;
}

#box2 {
    background-color: beige;
    position: absolute;
    bottom: 377px;
    left: 620px;
}

#box3 {
    background-color: bisque;
}

#box4 {
    background-color: deeppink;
}